# Created by .ignore support plugin (hsz.mobi)
venv
.idea/.gitignore
.idea/inspectionProfiles/
.idea/loducode_utils.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.DS_Store
build/
dist/
loducode_utils.egg-info/

manage.py

lodu/
